
%% enable coverage output when running eunit
{ cover_enabled, true }.
{ cover_export_enabled, true }.
{ cover_opts, [verbose] }.
{ cover_print_enabled, true }.

%% always include debug info so AST is included in beams
{erl_opts,
  [
    debug_info,
    {platform_define, "^(19|2)", allocator_stats_available}
  ]
}.

{clean_files, ["ebin", "doc"]}.

{deps,
  [
    { lwes,
      "4.6.1",
      {git, "git://github.com/lwes/lwes-erlang.git", {tag, "4.6.1"}}
    },
    { parse_trans,
      "3.2.0",
      {git, "git://github.com/uwiger/parse_trans.git", {tag, "3.2.0"} }
    }
  ]
}.
