%% -*- mode: erlang -*-
{minimum_otp_vsn, "18"}.

%% enable coverage output when running eunit
{ cover_enabled, true }.
{ cover_export_enabled, true }.
{ cover_opts, [verbose] }.
{ cover_print_enabled, true }.

%% always include debug info so AST is included in beams
{erl_opts,
  [
    debug_info,
    {platform_define, "^(19|2)", allocator_stats_available}
  ]
}.

{clean_files, ["ebin", "doc"]}.

{deps,
  [
    { lwes, {git, "git://github.com/lwes/lwes-erlang.git", {tag, "5.0.0"}} },
    { parse_trans, {git, "git://github.com/uwiger/parse_trans.git", {tag, "3.2.0"} } }
  ]
}.
